/* 表情符號相關樣式 */
.emoji-container {
    position: absolute;
    pointer-events: none;
}

.emoji {
    width: 32px;
    height: 32px;
}

@media (max-width: 768px) {
    .emoji {
        width: 24px;
        height: 24px;
    }
} 